@font-face {
    font-family: AllerRegular;
    src: url(/assets/fonts/Aller/Aller_Rg.ttf);
}

@font-face {
    font-family: AllerBold;
    src: url(/assets/fonts/Aller/Aller_Bd.ttf);
}

@font-face {
    font-family: AllerBoldItalic;
    src: url(/assets/fonts/Aller/Aller_BdIt.ttf);
}

@font-face {
    font-family: AllerItalic;
    src: url(/assets/fonts/Aller/Aller_It.ttf);
}

@font-face {
    font-family: AllerLight;
    src: url(/assets/fonts/Aller/Aller_Lt.ttf);
}

@font-face {
    font-family: AllerLightItalic;
    src: url(/assets/fonts/Aller/Aller_LtIt.ttf);
}

@font-face {
    font-family: AllerDisplay;
    src: url(/assets/fonts/Aller/AllerDisplay.ttf);
}

body{
    box-sizing: border-box;
}

.red {
    color: #FF0000 !important;
}

.padding-3 {
    padding: 3rem !important;
}

.padding-top-1 {
    padding-top: 1rem !important;
}

.peta40-flex-header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    img {
        height: 395px;
    }
    .peta40logo {
        height: 338px;
        max-width: 100% !important;
        
    }
    .mobile-star-group {
        height: auto;
        width: 96px;
        align-self: center;
    }
}

.party-title {
    font-family: 'Great Vibes',Arial, Helvetica, sans-serif;
    color: #D5AA00;
    text-align: center;
    font-size: 4rem;
}

.party-subheading {
    font-family: 'AllerDisplay',Arial, Helvetica, sans-serif;
    font-size: 3.25rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.12;
}

.peta40-info {
    padding-right: 2rem;
    font-size: 1.2rem;
    p {
        margin-bottom: 1rem;
    }
}

.peta40-btn-list {
    margin-top: 1rem;
    float: right;
}

.peta40-btn-list .button {
    background-color: #5BA4DC !important;
    text-align: left !important;
    height: 48px !important;
    font-size: 1.1rem !important;
    font-family: "AllerBold", Arial, Helvetica, sans-serif !important;
}

.peta40-btn-list .button span {
    float: right;
}

@media screen and (max-width: 992px) {
    .peta40logo {
        height: 125px !important;
    }

    main {
        padding: 2rem !important;
    }
    .peta40-btn-list {
        float: none;
    }

    .more-info-banner {
        height: auto !important;
        padding: 1rem 2rem !important;
    }
}

.more-info-banner{
    background-color: #F2D049;
    height: 100px;
    font-family: 'AllerBoldItalic', Arial, Helvetica, sans-serif !important;
    font-weight: bolder;
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem 6rem;
}

// Footer

footer {
    margin-top: 2rem;
    font-size: 0.8rem;
}

.sparkle-bunny-img {
    display: flex;
    justify-self: center;
    margin: 0 auto !important;
    width: 645px !important;
    height: auto;
}

.ftr-menu {
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-top: 1rem !important;
    a, a:hover {
        color: #003477 !important;
    }
}

.peta-logo-ftr, .fb-logo-ftr, .twitter-logo-ftr {
    height: 22px !important;
    width: auto;
    margin-right: 10px;
    margin-bottom: 5px;
}

.peta-ftr-contact {
    padding-left: 2rem;
}

    